<select id="lat">
    <option selected disabled value="Select">Select latitude</option>
    <option value="33.44">33.44</option>
    <option value="13.11">13.11</option>
    <option value="12.97">12.97</option>
    <option value="13.08">13.08</option>
    <option value="22.25">22.25</option>
</select>
<select id="lon">
    <option selected disabled value="Select">Select Longitude</option>
    <option value="-94.05">-94.05</option>
    <option value="77.60">77.60</option>
    <option value="77.59">77.59</option>
    <option value="71.19">71.19</option>
</select>
<div id="mes"></div>
<div class="container responsivegrid">
    <!--<div align="center"><h4>Forecast five Weather</h4></div>-->
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="sunriselatlon" aria-label="Text input with checkbox" value="" readonly>
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="sunsetlatlon" aria-label="Text input with checkbox" value="" disabled="disabled">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="pressure" aria-label="Text input with checkbox"value="" readonly>
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="humiditylatlon" aria-label="Text input with checkbox" value="" readonly>
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="temp" aria-label="Text input with checkbox" value="" readonly>
    </div>

</div>