<!--
<select id="citySel">
    <option value="Select">Select City</option>
    <option value="Pune">Pune</option>
    <option value="San Francisco">Chennai</option>
    <option value="London">London</option>
    <option value="Mumbai">Mumbai</option>
    <option value="Bangalore">Bangalore</option>
</select>
&lt;!&ndash;<select id="countrySelect" name="country" onchange="getState(this.value)">
    <option>Select Country</option>
    <option value="USA">USA</option>
    <option value="Canada">Canada</option>
    <option value="England">England</option>
    <option value="India">India</option>
</select>&ndash;&gt;
<div id="message"></div>
<div class="container responsivegrid">
    &lt;!&ndash;<div align="center"><h4>Current Weather</h4></div>&ndash;&gt;
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="currentTemp" aria-label="Text input with checkbox" value="">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="maxTemp" aria-label="Text input with checkbox"value="">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="minTemp" aria-label="Text input with checkbox" value="">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="humidity" aria-label="Text input with checkbox" value="">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="description" aria-label="Text input with checkbox" value="">
    </div>
</div>-->
<select id="cityname">
    <option value="Select">Select City</option>
    <option value="Pune">Pune</option>
    <option value="Aurangabad">Aurangabad</option>
    <option value="Nagpur">Nagpur</option>
    <option value="Mumbai">Mumbai</option>
    <option value="Jaipur">Jaipur</option>
    <option value="Nashik">Nashik</option>
</select>
<div id="msg"></div>
<div class="container responsivegrid">
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="sunrise" aria-label="Text input with checkbox" value="">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="sunset" aria-label="Text input with checkbox" value="">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="population" aria-label="Text input with checkbox"value="">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="timezone" aria-label="Text input with checkbox" value="">
    </div>
    <!--    <div class="input-group mb-3">-->
    <!--        <input type="text" class="form-control" id="humid" aria-label="Text input with checkbox" value="">-->
    <!--    </div>-->
</div>