<select id="citySelect">
    <option value="Select">Select City</option>
    <option value="Pune">Pune</option>
    <option value="San Francisco">San Francisco</option>
    <option value="London">London</option>
    <option value="Mumbai">Mumbai</option>
    <option value="Bangalore">Bangalore</option>
</select>
<!--<select id="countrySelect" name="country" onchange="getState(this.value)">
    <option>Select Country</option>
    <option value="USA">USA</option>
    <option value="Canada">Canada</option>
    <option value="England">England</option>
    <option value="India">India</option>
</select>-->
<div id="message"></div>
<div class="container responsivegrid">
    <!--<div align="center"><h4>Current Weather</h4></div>-->
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="currentTemp" aria-label="Text input with checkbox" value="">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="maxTemp" aria-label="Text input with checkbox"value="">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="minTemp" aria-label="Text input with checkbox" value="">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="humidity" aria-label="Text input with checkbox" value="">
    </div>
</div>